<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div> 
            <a href="home.ejs">home</a>
            <a href="services.ejs"> our services</a>
            <a href="contact.ejs">contact us</a>
        </div>
    </nav>
    <h1>welcome to services page</h1>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo suscipit amet ullam obcaecati a aut omnis in commodi molestias!</div>
</body>
</html>